@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

:root {
    --color_white: white;
    --title_shadow: rgba(9, 0, 0, 0.213);
    --color_text: rgba(55, 78, 98, 0.609);
    --color_bg-fuente: rgba(26, 120, 192, 0.181);
}

.App {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 0.5rem;
}

.App_title {
    padding-top: 4rem;
    margin: 0 auto;
    text-align: center;
    font-family: Rowdies;
    font-weight: 400;
    font-size: 1.2rem;
    text-shadow: 7px 5px 1px var(--title_shadow);
    color: var(--color_white);
    max-width: 500px;
}

.App_containt-phrase{
    margin: 3rem auto 2rem auto;
    padding: 2rem;
  background-color: var(--color_white);
height: 100px;
display: flex;
align-items: center;
justify-content: center;

}

.App_phrase {
    color: var(--color_text);
font-weight: 100;
z-index: 10;
    
}

.App_button {
    display: block;
    margin: 0 auto;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid rgba(21, 21, 21, 0.265);
    color: var(--color_text);
}

.App_fuente {
    margin-bottom: -5px;
    background-color: var(--color_bg-fuente);
    border-radius: 10px;
    border: 1px solid rgba(21, 21, 21, 0.265);
    text-align: center;
    width: 180px;
    position: absolute;
    bottom: 2%;
    right: 2%;
}

@media (min-width:700px) {
    .App {
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 80%;
        position: relative;
    }

   

}