@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

:root {
    --color_white: white;
    --text_shadow: rgba(9, 0, 0, 0.213);
}

.App {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.App_title {
    padding-top: 5rem;
    margin: 0 auto;
    text-align: center;
    font-family: Rowdies;
    font-weight: 400;
    font-size: 1.2rem;
    text-shadow: 7px 5px 1px var(--text_shadow);
    color: var(--color_white);
    max-width: 500px;
}

.App_phrase{
    margin: 3rem auto;
    padding: 3rem;
    background-color: var(--color_white);
    max-width: 300px;
height: 100px;
display: flex;
align-items: center;
clip-path: path("M0,100 C25,125 75,125 100,100 C125,75 175,75 200,100 L200,200 L0,200 Z");

    

}

.App_button{
display: block;
margin: 0 auto;
}

.App_fuente{
    position: absolute;
    bottom: 2%;
    right: 2%;
}