@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

:root {
    --color_white: white;
    --title_shadow: rgba(9, 0, 0, 0.213);
    --color_text: rgba(55, 78, 98, 0.609);
    --color_bg-fuente: rgba(26, 120, 192, 0.181);
    --color_border: rgba(21, 21, 21, 0.265);
    --color_bg-content-phrase: rgba(94, 134, 134, 0.474);
    --content-phrase_shadow:rgba(94, 134, 134, 0.646);
}

.App {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 0.5rem;
}

.App_title {
    user-select: none;
    padding-top: 5rem;
    margin: 0 auto;
    text-align: center;
    font-family: Rowdies;
    font-weight: 700;
    font-size: 1.5rem;
    text-shadow: 7px 5px 1px var(--title_shadow);
    color: var(--color_white);
    max-width: 600px;
}

.App_containt-phrase {
    user-select: none;
    position: relative;
    margin: 4rem auto 2rem auto;
    padding: 0.5rem;
    background-color: var(--color_bg-content-phrase) ;
    box-shadow: 12px 13px 10px 0px var(--content-phrase_shadow);
    border-radius: 5px;
    border: 1px solid var(--color_border);
    height: 100px;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.App_phrase {
    color: var(--color_white);
    text-align: center;
    font-weight: 100;
    z-index: 20;

}

.App_phrase-comillas {
    width: 30px;
    position: absolute;
    bottom: 3%;
    right: 3%;
}

.App_button {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid var(--color_border);
    color: var(--color_text);
    font-size: 1rem;
}

.App_fuente {
    user-select: none;
    margin-bottom: -5px;
    background-color: var(--color_bg-fuente);
    border-radius: 10px;
    border: 1px solid var(--color_border);
    text-align: center;
    width: 100px;
    position: absolute;
    bottom: 2%;
    right: 2%;
    font-size: 0.5rem;
}

@media (min-width:700px) {


    .App_title {
        font-size: 2rem;
    }

    .App_containt-phrase{
        height: 200px;
        font-size: 2rem;
    }

    .App_button {
        font-size: 1.5rem;
    }

    .App_fuente {
        width: 200px;
        font-size: 1rem;
    }


}